<nav>
    <ul>
      <li class="textt">MovieBuzz</li>
      <li>
        <a
          href="/homepage-component"
          class="active"
          style="font-family: 'Josefin Sans', sans-serif; font-size: 20px"
          ><i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp;Home</a
        >
      </li>
      <li>
        <a
          routerLink = "/gridcomponent-component"
          class="active"
          style="font-family: 'Josefin Sans', sans-serif; font-size: 20px"
          ><i class="fa fa-table" aria-hidden="true"></i>&nbsp;&nbsp;Edit</a
        >
      </li>
    </ul>
  </nav>


<div class="bgimg"></div>
<div class="body">
<div class="ticket">
	<div class="left">
		<div class="image">
			<p class="admit-one">
				<span>ADMIT ONE</span>
				<span>ADMIT ONE</span>
				<span>ADMIT ONE</span>
			</p>
			<div class="ticket-number">
				<p>
					#20030220
				</p>
			</div>
		</div>
		<div class="ticket-info">
			<p class="date">
				<span>TUESDAY</span>
				<span class="june-29">JUNE 29TH</span>
				<span>2021</span>
			</p>
			<div class="show-name">
				<h1>SOUR Prom</h1>
				<h2>Olivia Rodrigo</h2>
			</div>
			<div class="time">
				<p>8:00 PM <span>TO</span> 11:00 PM</p>
				<p>DOORS <span>@</span> 7:00 PM</p>
			</div>
			<p class="location"><span>East High School</span>
				<span class="separator"><i class="far fa-smile"></i></span><span>Salt Lake City, Utah</span>
			</p>
		</div>
	</div>
	<div class="right">
		<p class="admit-one">
			<span>ADMIT ONE</span>
			<span>ADMIT ONE</span>
			<span>ADMIT ONE</span>
		</p>
		<div class="right-info-container">
			<div class="show-name">
				<h1>SOUR Prom</h1>
			</div>
			<div class="time">
				<p>8:00 PM <span>TO</span> 11:00 PM</p>
				<p>DOORS <span>@</span> 7:00 PM</p>
			</div>
			<div class="barcode">
				<img src="https://cdn.britannica.com/17/155017-050-9AC96FC8/Example-QR-code.jpg" alt="QR code">
			</div>
			<p class="ticket-number">
				#20030220
			</p>
		</div>
	</div>
</div>
</div>