
<nav>
  <ul>
    <li class="textt">MovieBuzz</li>
    <li>
      <a
        href="#top"
        class="active"
        style="font-family: 'Josefin Sans', sans-serif; font-size: 20px"
        ><i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp;Home</a
      >
    </li>
    <li>
      <a
        routerLink = ""
        class="active1"
        style="font-family: 'Josefin Sans', sans-serif; font-size: 20px"
        ><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;LogOut</a
      >
    </li>
  </ul>
</nav>


<div class="bgimg"></div>
<main class="page-content">
    <div class="card">
      <div class="content">
        <button class="btn" routerLink="/editmovies">CHECK MOVIES</button>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <button class="btn" routerLink="/gridcomponent">CHECK BOOKINGS</button>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <button class="btn" routerLink="/paycheck">CHECK PAYMENTS</button>
      </div>
    </div>
  </main>